/*
███▓▓▓▓▓▓▒▒▒▒▒▒░░░░░░░░░░░░░░░▒▒▒▒▒▒▓▓▓▓▓▓███
███▓▓▓▓▓▓▒▒▒▒▒▒░░ CSS Reset ░░▒▒▒▒▒▒▓▓▓▓▓▓███
███▓▓▓▓▓▓▒▒▒▒▒▒░░░░░░░░░░░░░░░▒▒▒▒▒▒▓▓▓▓▓▓███
*/


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/*
███▓▓▓▓▓▓▒▒▒▒▒▒░░░░░░░░░░░░░░░▒▒▒▒▒▒▓▓▓▓▓▓███
███▓▓▓▓▓▓▒▒▒▒▒▒░░ Variables ░░▒▒▒▒▒▒▓▓▓▓▓▓███
███▓▓▓▓▓▓▒▒▒▒▒▒░░░░░░░░░░░░░░░▒▒▒▒▒▒▓▓▓▓▓▓███
*/

:root {
    --color-0: #1f1f29;
    --color-1: #413a42;
    --color-2: #596070;
    --color-3: #96a2b3;
    --color-4: #eaf0d8;
}

/*
███▓▓▓▓▓▓▒▒▒▒▒▒░░░░░░░░░░░░▒▒▒▒▒▒▓▓▓▓▓▓███
███▓▓▓▓▓▓▒▒▒▒▒▒░░ Styles ░░▒▒▒▒▒▒▓▓▓▓▓▓███
███▓▓▓▓▓▓▒▒▒▒▒▒░░░░░░░░░░░░▒▒▒▒▒▒▓▓▓▓▓▓███
*/

html {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-0);
    color: var(--color-4);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.8em;
    font-weight: 400;
    background-color: var(--color-1)
}

h1 {
    border-bottom: 1px solid var(--color-3);
}

h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
}

hr {
    color: var(--color-2);
}

main {
    max-width: 900px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 1em;
}

.logo {
    display: flex;
    flex-direction: column;
    line-height: 1.12;
    margin-bottom: 2em;
}

li {
    margin-left: 2em;
}

nav {
    margin-top: 3em;
}

footer {
    margin-top: 3em;
    padding-top: 3em;
    border-top: 1px solid var(--color-3);
    width: 100%;
    text-align: right;
}

a:hover {
    background-color: var(--color-1);
}